
    <div class="modal-header">
        <h4 id="stopPcTitle"  class="modal-title pull-left new_sch">Stop Forecasting</h4>
        <button mat-dialog-close  type="button" class="close pull-right" aria-label="Close" id="editModalClose">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <article class="modal_article_css">
        <div class="display_flex_css">                
                <p>11BF901@1-1-1@BCST_L@PM_NEAR_END_Tx@Act will be stop forecast processing You may still find it in Forecast Selection</p>
        </div>
    </article>
    <div class="modal-footer footer_css">
        <div class="down_Button flex_stop">
            <button type="button" id="stopPcCBtn" class="shadowbtn btn Css_butn cancel_btn done_btn cancel_stop" aria-label="Close" mat-dialog-close>Cancel</button>
            <button type="button" id="stopPcSBtn" class="shadowbtn btn Css_butn cancel_btn done_btn stop-btn" aria-label="Close">Stop</button>
        </div>
    </div>
