<div class="parent-content df-col">
    <div class="corr-header">
	<app-profiler-header  [allDetails]="allClassificationDetails"  [profilerStatus]="profilerStatus" [setDisableAll]="disableSelectButton" (emitOut)="provideInputsToMap($event)"></app-profiler-header>
    </div>
    <div class="wrap-cont f-max">
        <div class="heat-map">
            <div *ngIf="isLoading" class="spinner-div col-12">
                <mat-progress-spinner color="slategrey" mode="indeterminate">
                </mat-progress-spinner>
            </div>
        <div  *ngIf="!isLoading" class="graph-height">
            <!-- <img src="https://angular.io/assets/images/logos/angular/angular.png" width="100%" height="100%"> -->
            <app-profiler-view [profilerResult]="profilerResult" [profilerStatus]="profilerStatus"></app-profiler-view>
        </div>
        </div>

    </div>
        </div>
