.main_graph_div{
    height: 100%;
    width: 100%;
    position: relative;
}
.amchart_hide_logo{
    position: absolute;
    background: white;
    bottom:0;
    left:0;
    width: 60px;
    height: 30px;
}
#chartdiv{
    /* height: 400px; */
    height: 100%;
    width: 100%;
}