.main_graph_div{
    height: 100%;
    width: 100%;
    position: relative;
}
.amchart_hide_logo{
    position: absolute;
    background: white;
    bottom: 0px;
    left:0;
    width: 60px;
    height: 30px;
}
#chartdiv1 {
  width: 100%;
  height: 100%;
}
