<div class="parent-content df-col main-border">
  <form #modeledit="ngForm">
  <div *ngIf="isLoading" class="spinner-div" >
    <mat-progress-spinner color="slategrey" mode="indeterminate">
    </mat-progress-spinner>
  </div>
  <div *ngIf="!isLoading" class="wrap-cont f-max">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12 mar-b-25">
        <label class="head-label">{{modelConfigName ? modelConfigName : 'New Model Configuration'}}</label>
      </div>

      <div class="col-md-6 col-sm-6 col-xs-12 mar-b-25">
        <div class="float-md-right float-sm-right">
          <button  *ngIf="forecastService.activatedPath.includes('forecastselect')" type="button" class="shadowbtn btn btn-default cancel-mod"
            (click)="navigateTo('/forecast/forecastselect/modelconfig')">Cancel</button>
            <button   *ngIf="forecastService.activatedPath.includes('forecastprocess')" type="button" class="shadowbtn btn btn-default cancel-mod"
            (click)="navigateTo('/forecast/forecastprocess/modelconfig')">Cancel</button>
          <button *ngIf="modelObject.id !== ''" type="button" class="shadowbtn btn btn-danger delete-mod mar-l-15"
            (click)="deleteModelConfig()">Delete</button>
          <button type="button" class="shadowbtn btn btn-primary save-mod mar-l-15"  (click)="saveModelDetails()">Save</button>
        </div>
      </div>
    </div>
    <div>
      
        <div class="row">

          <div class="col-md-3 col-sm-4 col-xs-12 mar-b-25">
            <label class="body-label">Name</label>
            <div class="no-padd mat_select_update col-md-8 col-sm-8 col-xs-12">
              <input autocomplete="off" maxlength="30" matInput [disabled]="modelObject.id !== ''" class="input-feild-model form-control" placeholder="Name" type="text" name="modelName"
                [(ngModel)]="modelObject.modelConfigName" [appAlphaNumeric]="'text'" required>
            </div>


          </div>

          <div class="col-md-3 col-sm-4 col-xs-12 mar-b-25">
            <label class="body-label">Input Shape</label>
            <div class="no-padd mat_select_update col-md-4 col-sm-4 col-xs-12">
              <input autocomplete="off" maxlength="30" matInput class="input-feild-model form-control" placeholder="0, 0" type="text" name="modelInpShape"
                [(ngModel)]="modelObject.inputShape" [appAlphaNumeric]="'maskNum'" required>
            </div>
          </div>

          <div class="col-md-3 col-sm-4 col-xs-12 mar-b-25">
            <label class="body-label">Output Shape</label>
            <div class="no-padd mat_select_update col-md-4 col-sm-4 col-xs-12">
              <input autocomplete="off" maxlength="30" matInput class="input-feild-model form-control" placeholder="0" type="text" name="modelOutShape"
                [(ngModel)]="modelObject.outputShape" [appAlphaNumeric]="'num'" required>
            </div>
          </div>

          <div class="col-md-3 col-sm-4 col-xs-12 mar-b-25">
            <label class="body-label">Block Unit</label>
            <div class="no-padd mat_select_update col-md-4 col-sm-4 col-xs-12">
              <input autocomplete="off" maxlength="30" matInput class="input-feild-model form-control" placeholder="0" type="text" name="modelBlockUnit"
                [(ngModel)]="modelObject.blockUnits" [appAlphaNumeric]="'num'" required>
            </div>
          </div>

          <div class="col-md-3 col-sm-4 col-xs-12 mar-b-25">
            <label class="body-label">Batch Size</label>
            <div class="no-padd mat_select_update col-md-4 col-sm-4 col-xs-12">
              <input autocomplete="off" maxlength="30" matInput class="input-feild-model form-control" placeholder="0" type="text" name="modelbatchsize"
                [(ngModel)]="modelObject.batchSize" [appAlphaNumeric]="'num'" required>
            </div>
          </div>

          <div class="col-md-3 col-sm-4 col-xs-12 mar-b-25">
            <label class="body-label">Epochs</label>
            <div class="no-padd mat_select_update col-md-4 col-sm-4 col-xs-12">
              <input autocomplete="off" maxlength="30" matInput class="input-feild-model form-control" placeholder="0" type="text" name="modelepochs"
                [(ngModel)]="modelObject.epochs" [appAlphaNumeric]="'num'" required>
            </div>
          </div>

          <div class="col-md-3 col-sm-4 col-xs-12 mar-b-25">
            <label class="body-label">Layer</label>
            <div class="no-padd mat_select_update col-md-4 col-sm-4 col-xs-12">
              <input autocomplete="off" maxlength="30" matInput class="input-feild-model form-control" placeholder="0" type="text" name="modelLayer"
                [(ngModel)]="modelObject.layers" [appAlphaNumeric]="'num'" required>
            </div>
          </div>

          <div class="col-md-3 col-sm-4 col-xs-12 mar-b-25">
            <label class="body-label">Drop Out</label>
            <div class="no-padd mat_select_update col-md-4 col-sm-4 col-xs-12">
              <input autocomplete="off" maxlength="30" matInput class="input-feild-model form-control" placeholder="0" type="text" name="modeldropout"
                [(ngModel)]="modelObject.dropout" [appAlphaNumeric]="'positivefloat'" required>
            </div>
          </div>

          <div class="col-md-3 col-sm-4 col-xs-12 mar-b-25">
            <label class="body-label">Activation</label>
            <div class="no-padd mat_select_update col-md-8 col-sm-8 col-xs-12">
              <mat-select disableOptionCentering name="modelactivation" [(ngModel)]="modelObject.activation" class="form-control drop-mat-model"
                required>
                <mat-option disabled hidden value="">Select</mat-option>
                <mat-option *ngFor="let actObj of activationDD" [value]="actObj">{{actObj}}</mat-option>
              </mat-select>
            </div>
          </div>

          <div class="col-md-3 col-sm-4 col-xs-12 mar-b-25">
            <label class="body-label">Inner Activation</label>
            <div class="no-padd mat_select_update col-md-8 col-sm-8 col-xs-12">
              <mat-select disableOptionCentering name="modelinnerActivation" [(ngModel)]="modelObject.innerActivation"
                class="form-control drop-mat-model" required>
                <mat-option disabled hidden value="">Select</mat-option>
                <mat-option *ngFor="let innActObj of innerActivationDD" [value]="innActObj">{{innActObj}}</mat-option>
              </mat-select>
            </div>
          </div>

          <div class="col-md-3 col-sm-4 col-xs-12 mar-b-25">
            <label class="body-label">Loss</label>
            <div class="no-padd mat_select_update col-md-8 col-sm-8 col-xs-12">
              <mat-select disableOptionCentering name="modelloss" [(ngModel)]="modelObject.loss" class="form-control drop-mat-model" required>
                <mat-option disabled hidden value="">Select</mat-option>
                <mat-option *ngFor="let lossObj of lossDD" [value]="lossObj">{{lossObj}}</mat-option>
              </mat-select>
            </div>
          </div>

          <div class="col-md-3 col-sm-4 col-xs-12 mar-b-25">
            <label class="body-label">Metrics</label>
            <div class="no-padd mat_select_update col-md-8 col-sm-8 col-xs-12">
              <mat-select disableOptionCentering name="modelmetrics" [(ngModel)]="modelObject.metrics" class="form-control drop-mat-model"
                required>
                <mat-option disabled hidden value="">Select</mat-option>
                <mat-option *ngFor="let metricsObj of metricsDD" [value]="metricsObj">{{metricsObj}}</mat-option>
              </mat-select>
            </div>
          </div>

          <div class="col-md-3 col-sm-4 col-xs-12 mar-b-25">
            <label class="body-label">Optimizer</label>
            <div class="no-padd mat_select_update col-md-8 col-sm-8 col-xs-12">
              <mat-select disableOptionCentering name="modeloptimizer" [(ngModel)]="modelObject.optimizer" class="form-control drop-mat-model"
                required>
                <mat-option disabled hidden value="">Select</mat-option>
                <mat-option *ngFor="let optimizerObj of optimizerDD" [value]="optimizerObj">{{optimizerObj}}
                </mat-option>
              </mat-select>
            </div>
          </div>

          <div class="col-md-3 col-sm-4 col-xs-12 mar-b-25">
            <label class="body-label">State</label>
            <div class="no-padd mat_select_update col-md-8 col-sm-8 col-xs-12">
              <mat-radio-group class="radio-btn" name="modelstateful" [(ngModel)]="modelObject.stateful" aria-label="Select stateful">
                <mat-radio-button class="mar-r-20" value="True">True</mat-radio-button>
                <mat-radio-button value="False">False</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>


          <div class="col-md-3 col-sm-4 col-xs-12 mar-b-25">
            <label class="body-label">L1, L2</label>
            <div class="no-padd mat_select_update col-md-4 col-sm-4 col-xs-12">
              <input autocomplete="off" maxlength="30" matInput class="input-feild-model form-control" placeholder="0.0, 0.0" type="text" name="modell1L2"
                [(ngModel)]="modelObject.l1L2" [appAlphaNumeric]="'maskNumDecimal'" required>
            </div>
          </div>

          <div class="col-md-3 col-sm-4 col-xs-12 mar-b-25">
            <label class="body-label">nLags</label>
            <div class="no-padd mat_select_update col-md-4 col-sm-4 col-xs-12">
              <input autocomplete="off" maxlength="30" matInput class="input-feild-model form-control" placeholder="0" type="text" name="modelnlags"
                [(ngModel)]="modelObject.nlags" [appAlphaNumeric]="'num'" required>
            </div>
          </div>


          <div class="col-md-3 col-sm-4 col-xs-12 mar-b-25">
            <label class="body-label">nLeads</label>
            <div class="no-padd mat_select_update col-md-4 col-sm-4 col-xs-12">
              <input autocomplete="off" maxlength="30" matInput class="input-feild-model form-control" placeholder="0" type="text" name="modelnleads"
                [(ngModel)]="modelObject.nleads" [appAlphaNumeric]="'num'" required>
            </div>
          </div>


          <div class="col-md-3 col-sm-4 col-xs-12 mar-b-25">
            <label class="body-label">Exclude</label>
            <div class="no-padd mat_select_update col-md-4 col-sm-4 col-xs-12">
              <input autocomplete="off" maxlength="30" matInput class="input-feild-model form-control" placeholder="None" type="text" name="modelexclude"
                [(ngModel)]="modelObject.exclude" [appAlphaNumeric]="'text'" required>
            </div>
          </div>


          <div class="col-md-3 col-sm-4 col-xs-12 mar-b-25">
            <label class="body-label">Group By</label>
            <div class="no-padd mat_select_update col-md-4 col-sm-4 col-xs-12">
              <input autocomplete="off" maxlength="30" matInput class="input-feild-model form-control" placeholder="None" type="text" name="modelgroupBy"
                [(ngModel)]="modelObject.groupBy" [appAlphaNumeric]="'text'" required>
            </div>
          </div>


          <div class="col-md-3 col-sm-4 col-xs-12 mar-b-25">
            <label class="body-label">Time Step</label>
            <div class="no-padd mat_select_update col-md-4 col-sm-4 col-xs-12">
              <input autocomplete="off" maxlength="30" matInput class="input-feild-model form-control" placeholder="0" type="text" name="modeltimeStep"
                [(ngModel)]="modelObject.timeStep" [appAlphaNumeric]="'num'" required>
            </div>
          </div>

          <div class="col-md-3 col-sm-4 col-xs-12 mar-b-25">
            <label class="body-label">Encoder</label>
            <div class="no-padd mat_select_update col-md-8 col-sm-8 col-xs-12">
              <mat-select disableOptionCentering name="modelencoderType" [(ngModel)]="modelObject.encoderType"
                class="form-control drop-mat-model" required>
                <mat-option disabled hidden value="">Select</mat-option>
                <mat-option *ngFor="let encoderTypeObj of EncoderTypeDD" [value]="encoderTypeObj">{{encoderTypeObj}}
                </mat-option>
              </mat-select>
            </div>
          </div>

          <div class="col-md-3 col-sm-4 col-xs-12 mar-b-25">
            <label class="body-label">Scaler</label>
            <div class="no-padd mat_select_update col-md-8 col-sm-8 col-xs-12">
              <mat-select disableOptionCentering name="modelscalerType" [(ngModel)]="modelObject.scalerType" class="form-control drop-mat-model"
                required>
                <mat-option disabled hidden value="">Select</mat-option>
                <mat-option *ngFor="let scalerTypeObj of scalarTypeDD" [value]="scalerTypeObj">{{scalerTypeObj}}
                </mat-option>
              </mat-select>
            </div>
          </div>

          <div class="col-md-3 col-sm-4 col-xs-12 mar-b-25">
            <label class="body-label">Test Size</label>
            <div class="no-padd mat_select_update col-md-4 col-sm-4 col-xs-12">
              <input autocomplete="off" maxlength="30" matInput class="input-feild-model form-control" placeholder="0" type="text" name="modeltestSize"
                [(ngModel)]="modelObject.testSize" [appAlphaNumeric]="'positivefloat'" required>
            </div>
          </div>

          <div class="col-md-3 col-sm-4 col-xs-12 mar-b-25">
            <label class="body-label">Model Type</label>
            <div class="no-padd mat_select_update col-md-8 col-sm-8 col-xs-12">
              <input autocomplete="off" matInput disabled class="input-feild-model form-control" placeholder="TIMESERIES" type="text"
                name="modeljobType" [(ngModel)]="modelObject.modelType" [appAlphaNumeric]="'text'" required>
            </div>


          </div>

        </div>

    </div>
  </div>
</form>
</div>